<header>
    <img 
        src="/assets/img/Victor_Da_Costa_Vasco.jpg" 
        alt="Victor Da Costa Vasco - Profile Picture"
        width="130px"
        height="130px"
        loading="eager"
    >
    <h1>Victor Da Costa Vasco</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack | Java | Javascript | Angular | Spring Boot | MySQL | Git | GitHub
             | Junit</p>
        <p>Petrópolis, Rio de Janeiro, Brazil</p>
        <p>I study Computer Engineering and aim to work in 
            Full-Stack development. That’s why I’ve been studying Spring Boot 
            for over a year and Angular for a few months. I already have
            proficiency in relational databases, Git, and GitHub.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="/assets/pdf/cv.pdf" target="_blank" 
                    class="btn btn-primary">Download CV</a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/victor-da-costa-vasco-258637206/" 
                    target="_blank" 
                    class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                src="/assets/icons/whatsapp.svg" 
                alt="Icone to WhatsApp contact"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a 
                        href="https://api.whatsapp.com/send?phone=5524999750226&text=Hi,%20Vasco.%20Need%20a%20job!"
                        target="_blank"
                    >
                        <strong>Send a message to:</strong>
                        <p>WhatsApp: (24) 9 99975-0226</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                src="/assets/icons/mail.svg" 
                alt="Icone to e-mail contact"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a 
                        href="mailto:victordcvasco@gmail.com"
                        target="_blank"
                    >
                        <strong>Send an e-mail to:</strong>
                        <p>victordcvasco&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
