html,
body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: var(--black); //quando uso o var, ele entende que vem das variaveis; do :root
}
